---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle: string = "Blog Var";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>{pageTitle}</h2>
</BaseLayout>